* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
}

.container-fluid a img {
    width: 130px;
}

.navbar {
    border-bottom: 0.4px solid white;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.266);
    backdrop-filter: blur(5px);
}

.nav-link {
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    transition: color 0.6s;
    z-index: 10;
    font-weight: 200;
}

.nav-link:hover {
    color: rgb(142, 255, 255);
}

.navbar-toggler {
    border: none;
}

.navbar-toggler img {
    width: 30px;
    height: auto;
}

header {
    width: 100%;
    height: 90vh;
    background-image: url(../images/pexels-photo-13073600.jpeg);
    background-size: cover;
    background-position: top 40% center;
    background-repeat: no-repeat;
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-content {
    display: flex;
    flex-direction: column;
    height: 75vh;
    width: 55%;
    margin-left: auto;
    margin-top: 12px;
}

.header-content h1 {
    color: white;
    font-size: 100px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}

.header-content p {
    color: white;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
}

.header-content .button {
    margin-left: auto;
    margin-right: 50px;
    padding: 5px 10px 5px 20px;
    border-bottom: 2px solid white;
    transition: 0.1s;
}

.button img {
    width: 50px;
}

.button a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
}

.down-arrow:hover,
.button:hover,
.little-b:hover,
.medium-b:hover {
    filter: sepia(70) hue-rotate(110deg) saturate(10);
}


.down-arrow img {
    width: 100px;
    opacity: 0.7;
}

.icons {
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 0.4px solid white;
    border-top: 0.4px solid white;
    background-color: rgba(255, 255, 255, 0.334);
}

.icons img {
    width: 80px;
}

.about-me {
    width: 100%;
    padding: 70px;
    background-color: #131313;
    color: white;
    font-family: "Raleway", sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.about-me h2,
.projects-title h2,
.container-full-contact h2 {
    font-family: "Oswald", sans-serif;
    font-weight: 800;
    color: rgb(25, 228, 228);
    font-size: 88px;
}

.about-me .profile img {
    width: 200px;
    border-radius: 50%;
}

.abilities {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 60px;
    padding-top: 20px;
}

.ability {
    width: 300px;
}

.ability div ul {
    list-style-image: url(../images/circles-list.png);
}


.ability h5,
.contact-at h5 {
    font-family: "Oswald", sans-serif;
    font-weight: 800;
    color: #19e4e4;
    font-size: 22px;
    letter-spacing: 0.05cap;
}

.ability h5 img {
    width: 25px;
}

.ability div {
    font-size: 14px;
}

/*The button design continues in the projects section.*/

.button-c {
    background-color: transparent;
    border: none;
}

.medium-b {
    text-align: center;
    border-bottom: 1px solid white;
    transition: 0.1s;
    width: 240px;
    padding: 10px;
    margin-top: 20px;
}



.projects {
    width: 100%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 50px;
    background-image: url(../images/d.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top: 0.4px solid white;
    border-bottom: 0.4px solid white;
}

.projects-title h2 {
    text-align: center;
    font-size: 110px;
    letter-spacing: 0.08cap;
}

.item1,
.item2,
.item3 {
    display: flex;
    color: #e7e7e7;
}

.item1 img,
.item2 img,
.item3 img {
    width: 35%;
}

.item1 {
    align-items: start;
    margin: 95px;
}

.item2 {
    justify-content: center;
    align-items: center;
    margin: 95px;
}

.item3 {
    justify-content: end;
    align-items: end;
    margin: 95px;
}

.item1 h2,
.item2 h2,
.item3 h2 {
    font-family: "Oswald", sans-serif;
    color: #19e4e4;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.05cap;
}

.item1 p,
.item2 p,
.item3 p {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 200;
    margin: 0;
}

.item1 .s,
.item2 .s,
.item3 .s {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 200;
}

.description {
    margin-left: 30px;
}

.little-b img,
.medium-b img {
    width: 33px;
}

.little-b a,
.medium-b a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
}

.little-b {
    width: 140px;
    border-bottom: 1px solid white;
    transition: 0.1s;
}

.medium-b a {
    font-size: 20px;
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 80px;
    width: 100%;
    padding: 50px;
    background-color: #131313;
}

.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.socials div a img {
    width: 80px;
}

.container-top-contact {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
    margin: 20px;
}

.contact-at {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.contact-at div img {
    width: 70px;
}

.contact-at p {
    color: white;
    font-family: "Raleway", sans-serif;
}


.form-and-rights {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.form-and-rights form input,
.form-and-rights form textarea {
    width: 500px;
    background-color: rgba(255, 255, 255, 0.266);
}

.form-and-rights form label {
    color: white;
    font-family: "Raleway", sans-serif;
}


.button-c {
    width: 150px;
    margin-bottom: 30px;
}

#forn-btn {
    border: none;
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    width: 170px;
    border-bottom: solid 1px white;
}

.rights {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 13px;
}

.rights img {
    width: 100px;
    margin: 30px;
}

#pop-up {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #19e4e4;
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
}

.close-btn {
    position: absolute;
    top: 0px;
    right: 30px;
    font-size: 60px;
    cursor: pointer;
}

.closer {
    background-color: #19e4e4;
    width: 100%;
    height: 20px;
}

#js-title {
    padding-top: 100px 0;
}


.js-projects {
    padding: 50px 0;
    border-bottom: 0.4px solid white;
    background-image: url(../images/Untitled_Artwork\ \(2\).JPG);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 100px;
}

.js-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    opacity: 0;
    /* נסתיר את התמונה בהתחלה */
    clip-path: inset(0 0 100% 0);
    /* חיתוך מלא מהחלק התחתון */
    transition: opacity 1s ease-out, clip-path 1s ease-out;
}

.js-item.visible {
    opacity: 1;
    clip-path: inset(0 0 0 0);
}

.js-description {
    padding: 20px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.93), rgba(18, 220, 255, 0.259));
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    transition: opacity 0.5s;
    opacity: 0;

    h2 {
        font-family: "Oswald", sans-serif;
        font-weight: 800;
        color: #19e4e4;
        font-size: 30px;
        letter-spacing: 0.05cap;
    }

    p {
        font-family: "Raleway", sans-serif;
        font-size: 15px;
        font-weight: 200;
        margin: 0;
    }
}

.js-description .date {
    font-size: 22px;
    font-weight: 400;
}

.js-description .little-b {
    margin-top: 10px;
}

.js-description:hover {
    opacity: 1;
}

#calculator-game {
    background-image: url(../images/js/calculator-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 600px;
    height: 260px;
    margin-left: 50px;
    margin-top: 70px;
}

#flags {
    background-image: url(../images/js/flags-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 200px;
    margin-left: 650px;
}

#memory-game {
    background-image: url(../images/js/memory-game-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 550px;
    height: 300px;
    margin-left: 100px;
}

#hangman {
    background-image: url(../images/js/hangman-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 700px;
    height: 350px;
    margin-left: 650px;
}

#pixel-art-maker {
    background-image: url(../images/js/pixel-art-maker-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 500px;
    height: 250px;
    margin-left: 150px;
}

#simon-says {
    background-image: url(../images/js/simon-says-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 200px;
    margin-left: 650px;
}

#calendar {
    background-image: url(../images/js/calendar-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 600px;
    height: 350px;
    margin-left: 50px;
}

#burger-vs-pizza {
    background-image: url(../images/js/burger-vs-pizza.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 700px;
    height: 350px;
    margin-left: 650px;
}

#weather {
    background-image: url(../images/js/weather-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 250px;
    margin-left: 250px;
}



/*media part*/

/*mobile*/

@media (max-width: 1024px) {
    header {
        display: flex;
        flex-direction: column;
    }

    .header-content {
        margin-top: 20px;
        margin-left: 5px;
        width: 97%;
    }

    .header-content h1 {
        font-size: 50px;
    }

    .header-content p {
        font-size: 18px;
    }

    .header-content .button {
        margin: auto;
    }

    .icons img {
        width: 50px;
    }

    .about-me {
        flex-direction: column;
        text-align: center;
        margin: 0;
    }

    .about-me .profile img {
        margin-top: 30px;
        margin-bottom: -40px;
    }

    .about-content {
        width: 95%;
    }

    .about-me h2 {
        font-size: 60px;
    }

    .abilities {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

    }

    .ability div ul {
        text-align: left;
    }

    .medium-b {
        margin-bottom: 50px;
    }


    .item1,
    .item2,
    .item3 {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0;
        gap: 10px;
    }

    .item2 .img,
    .item1 .img,
    .item3 .img {
        width: 95%;
    }

    .description {
        margin: 0;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .projects-title {
        font-size: 60px;
        margin: 0;
    }

    #html-css-title {
        margin-bottom: 50px;
    }

    .js-projects {
        padding: 40px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 60px;
    }

    #calculator-game,
    #flags,
    #memory-game,
    #hangman,
    #pixel-art-maker,
    #simon-says,
    #calendar,
    #burger-vs-pizza,
    #weather {
        width: 95%;
        height: 400px;
        margin-left: 0;
    }

    .js-description {

        h2 {
            font-size: 20px;
        }

        p {
            font-size: 12px;
        }
    }

    .projects-title h2 {
        font-size: 50px;
    }

    #js-title {
        margin-bottom: -100px;
    }

    .contact {
        flex-direction: column-reverse;
        flex-wrap: wrap;
        width: 100%;
        padding: 30px 0;

    }

    .container-top-contact,
    .form-and-rights {
        flex-direction: column;
    }

    .container-full-contact h2 {
        font-size: 50px;
        text-align: center;
    }

    .form-and-rights {
        text-align: center;
    }

    .form-and-rights form input,
    .form-and-rights form textarea {
        text-align: center;
        width: 100%;
    }

    .socials {
        margin-top: -70px;
        flex-direction: row;
    }

    .socials div a img {
        width: 40px;
        gap: 0;
    }
}

@media (max-width: 600px) {

    #calculator-game,
    #flags,
    #memory-game,
    #hangman,
    #pixel-art-maker,
    #simon-says,
    #calendar,
    #burger-vs-pizza,
    #weather {
        height: 200px;
    }

    .popup-content {
        width: 70%;
        height: 30%;
        display: flex;
        padding: 20px;
        font-size: 20px;
        text-align: center;
    }

    .close-btn {
        position: absolute;
        top: 0px;
        right: 30px;
        font-size: 40px;
        cursor: pointer;
    }
}